<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body id="edit">
    <header>
        <h3><strong>Jackson Hole General Store </strong> |  Edit: <%= inventory.name%>  |</h3>
        <%- include('./partials/header.ejs') %>
    </header>
</body>
</html>