<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>New Item</title>
</head>
<body id="new">
    <header>
        <h3><strong>Jackson Hole General Store </strong> |  New Item:</h3>
        <%- include('./partials/header.ejs') %>
    </header>
    <div class="container">
        <form action="/inventory" method="POST">
            <label for="name">Item Name: </label>
            <input type="text" required name="name" id="name" />
            <label for="price">Item Price: </label>
            <input type="number" name="price" id="price" min="0" value="0" step=".01" />
            <label for="qty">Quantity in Stock: </label>
            <input type="number" name="qty" id="name" value="1" min="0" />
            <label for="desc">Description: </label>
            <input type="text" name="desc" id="desc" maxlength="200" />
            <label for="img">Image (Link): </label>
            <input type="text" name="img" id="img" />

             <!-- Submit Button -->
             <!--===========-->
            <input type="submit" name="" value="Add Inventory" />
        </form>
    </div>
</body>
</html>